<h3> Proveedor <%= @supplier.name %></h3>


<p>
  <strong>URL de pedidos:</strong>
  <%= @supplier.product_request_url %>
</p>

<%= link_to 'Back', suppliers_path, :class =>"btn waves-effect waves-light" %>
