<p id="notice"><%= notice %></p>

<h1>Ventas</h1>

<%= link_to new_sale_path, {class: 'btn-floating btn-large waves-effect waves-light red'} do %>
    <%= content_tag :i, 'add', {class: 'material-icons'} %>
<% end %>
